<div mn-fill-height style="width: 100%; overflow:auto;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-repeat="field in vm.fields"
            ng-class="{'mn-sortable': vm.serviceDataLoaded}"
            ng-click="vm.orderBy(field.Name)"
            ng-style="{width: field.ColumnWidth + 'px'}">
          {{field.HeaderText}}
          <span ng-show="vm.orderColumn === field.Name && vm.serviceDataLoaded"
                class="pull-right {{vm.orderDirection === 'desc' ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'}}"
                aria-hidden="true"></span>
        </th>
      </tr>
      <tr ng-show="vm.quickFilterShown">
        <th ng-repeat="field in vm.fields">
          <input type="text" name="name" value="" ng-style="{width: (field.ColumnWidth - 20) + 'px'}" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.items">
        <td ng-repeat="field in vm.fields">{{item[field.Name]}}</td>
      </tr>
    </tbody>
  </table>
</div>
