<div mn-fill-height style="width: 100%; overflow:auto;">
  <table class="table table-striped" style="table-layout:fixed;">
    <thead>
      <tr>
        <col ng-show="grid.showSelectColumn" style="width: 20px;">
        <col ng-repeat="field in grid.owner.fields" ng-style="{width: field.width + 'px'}"/>
        <col style="width: 64px;">
        <th ng-show="grid.showSelectColumn">
          <input type="checkbox"
                 ng-model="grid.onlySelectedItemsShown">
        </th>
        <th ng-repeat="field in grid.owner.fields"
            ng-class="{'mn-sortable': grid.owner.fullyLoaded && !grid.onlySelectedItemsShown}"
            ng-click="grid.orderBy(field)"
            class="grid-header-container">
          <span class="grid-header-field-name"
                ng-style="{width: (field.width - 18) + 'px'}">
            {{field.header}}
          </span>
          <span ng-show="grid.owner.stateMachine.column === field.name && grid.owner.fullyLoaded && !grid.onlySelectedItemsShown"
                class="pull-right grid-header-field-dir "
                ng-class="grid.owner.stateMachine.direction === 'desc' ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"
                aria-hidden="true"></span>
        </th>
        <th></th>
      </tr>
      <tr ng-show="grid.owner.stateMachine.quickFilterShown && grid.owner.fullyLoaded">
        <th ng-show="grid.showSelectColumn"></th>
        <th ng-repeat="field in grid.owner.fields">
          <mn-qf-text
                qf-disabled="grid.onlySelectedItemsShown"
                ng-if="field.quickfilter === 'text'"
                model="grid.owner.stateMachine.filters[field.name]"
                qf-changed="grid.filterBy(fieldName)"
                field="field"></mn-qf-text>
          <mn-qf-date-range
                qf-disabled="grid.onlySelectedItemsShown"
                ng-if="field.quickfilter === 'date-range'"
                model="grid.owner.stateMachine.filters[field.name]"
                qf-changed="grid.filterBy(fieldName)"
                field="field"></mn-qf-date-range>
          <mn-qf-select
                qf-disabled="grid.onlySelectedItemsShown"
                ng-if="field.quickfilter === 'select'"
                model="grid.owner.stateMachine.filters[field.name]"
                qf-changed="grid.filterBy(fieldName)"
                field="field"></mn-qf-select>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-hide="grid.onlySelectedItemsShown">
      <tr ng-repeat="item in grid.owner.items">
        <td ng-show="grid.showSelectColumn">
          <input type="checkbox"
                 ng-checked="grid.isItemSelected(item)"
                 ng-click="grid.selectionChanged(item)">
        </td>
        <td ng-repeat="field in grid.owner.fields" style="overflow: hidden;">
          <div>
            <span>
              {{item[field.name + '_formatted']}}
            </span>
          </div>
        </td>
        <td style="overflow: hidden;">
          <mn-grid-actions />
        <td>
      </tr>
    </tbody>
    <tbody ng-show="grid.onlySelectedItemsShown">
      <tr ng-repeat="item in grid.selectedItems">
        <td ng-show="grid.showSelectColumn">
          <input type="checkbox"
                 ng-checked="grid.isItemSelected(item)"
                 ng-click="grid.selectionChanged(item)">
        </td>
        <td ng-repeat="field in grid.owner.fields" style="overflow: hidden;">
          <div>
            <span>
              {{item[field.name + '_formatted']}}
            </span>
          </div>
        </td>
        <td style="overflow: hidden;">
          <mn-grid-actions />
        <td>
      </tr>
    </tbody>
  </table>
</div>
<mn-grid-pager ng-hide="grid.onlySelectedItemsShown">
</mn-grid-pager>
<div>
  backend filtered documents count: {{grid.owner.service.buffer.length}}/{{grid.owner.service.totalCount}}
</div>
<div>
  quick filtered documents count: {{grid.owner.totalQfCount}}
</div>
<div>
  selected documents count: {{grid.selectedItems.length}}
</div>
