<div mn-fill-height style="width: 100%; overflow:auto;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-repeat="field in grid.fields"
            ng-class="{'mn-sortable': grid.serviceDataLoaded}"
            ng-click="grid.orderBy(field.name)"
            ng-style="{width: field.width + 'px'}"
            class="grid-header-container">
          <span class="grid-header-field-name"
                ng-style="{width: (field.width - 18) + 'px'}">
            {{field.header}}
          </span>
          <span ng-show="grid.orderColumn === field.name && grid.serviceDataLoaded"
                class="pull-right grid-header-field-dir "
                ng-class="grid.orderDirection === 'desc' ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down'"
                aria-hidden="true"></span>
        </th>
        <th style="width: 40px;"></th>
      </tr>
      <tr ng-show="grid.quickFilterShown">
        <th ng-repeat="field in grid.fields" ng-style="{width: field.width + 'px'}">
          <mn-qf-text
                ng-if="field.quickfilter === 'text'"
                model="grid.filters[field.name]"
                qf-changed="grid.filterBy(fieldName)"
                field="field"
                focus="grid.quickFilterFocus === field.name"></mn-qf-text>
          <mn-qf-date-range
                ng-if="field.quickfilter === 'date-range'"
                model="grid.filters[field.name]"
                qf-changed="grid.filterBy(fieldName)"
                field="field"
                focus="grid.quickFilterFocus === field.name"></mn-qf-date-range>
          <mn-qf-select
                ng-if="field.quickfilter === 'select'"
                model="grid.filters[field.name]"
                qf-changed="grid.filterBy(fieldName)"
                field="field"
                focus="grid.quickFilterFocus === field.name"></mn-qf-select>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in grid.items">
        <td ng-repeat="field in grid.fields">
          <div ng-style="{width: field.width + 'px'}" style="overflow: hidden">
            <span>
              {{item[field.name + '_formatted']}}
            </span>
          </div>
        </td>
        <td ng-transclude></td>
      </tr>
    </tbody>
  </table>
</div>
