<div class="row">
  <div>Order ID:</div>
  <input type="text" name="name" value="{{ctrl.editItemObject.Order_ID}}">
</div>
<div class="row">
  <div>Work Order Number:</div>
  <input type="text" name="name" value="{{ctrl.editItemObject.WorkOrder_WorkOrderNr}}">
</div>
<div class="row">
  <div>Customer Name:</div>
  <input type="text" name="name" value="{{ctrl.editItemObject.Customer_CustomerName}}">
</div>
<div class="row">
  <div>Customer Work City:</div>
  <input type="text" name="name" value="{{ctrl.editItemObject.Customer_WorkCity}}">
</div>
<div class="row">
  <div>RPU Address:</div>
  <input type="text" name="name" value="{{ctrl.editItemObject.RPU_Address}}">
</div>
<div class="row">
  <div>RPU Zip Code:</div>
  <input type="text" name="name" value="{{ctrl.editItemObject.RPU_ZipCode}}">
</div>
<div class="row">
  <div>RPU City:</div>
  <input type="text" name="name" value="{{ctrl.editItemObject.RPU_City}}">
</div>
<div class="row">
  <hr>
</div>
<div class="row">
  <button class="btn" ng-click="ctrl.closeDialog()">Save</button>
  <button class="btn" ng-click="ctrl.closeDialog()">Cancel</button>
</div>
