<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" ng-if="!ctrl.itemForm">
      <span class="loader"  style="float: left; margin: 0px 0px 0px 8px;">Loading...</span>
    </div>
    <div class="col-xs-12" ng-if="ctrl.itemForm">
      <div>
        <strong>Order ID:</strong>
        <span>{{ctrl.itemForm.Order_ID}}</span>
      </div>
      <div>
        <strong>Work Order Number:</strong>
        <span>{{ctrl.itemForm.WorkOrder_WorkOrderNr}}</span>
      </div>
      <div>
        <strong>Customer Name:</strong>
        <span>{{ctrl.itemForm.Customer_CustomerName}}</span>
      </div>
      <div>
        <strong>Work Order Number:</strong>
        <span>{{ctrl.itemForm.Customer_WorkCity}}</span>
      </div>
      <div>
        <strong>Work Order Number:</strong>
        <span>{{ctrl.itemForm.RPU_Address}}</span>
      </div>
      <div>
        <strong>Work Order Number:</strong>
        <span>{{ctrl.itemForm.RPU_City}}</span>
      </div>
      <div>
        <strong>Work Order Number:</strong>
        <span>{{ctrl.itemForm.RPU_ZipCode}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-info" ui-sref="base.activities({})">
        Back to grid
      </a>
    </div>
  </div>
</div>
