<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 mn-content-panel">
      <span class="loader block" ng-if="!ctrl.itemForm" style="margin: 0px 0px 0px 8px;">Loading...</span>
      <div ng-if="ctrl.itemForm" class="container-fluid">
        <mnf-form mnf-doc="ctrl.itemForm">
          <mnf-text mnf-field="WorkOrder_WorkOrderNr"
                    mnf-label="Work Order Number:"></mnf-text>
          <mnf-text mnf-field="Customer_CustomerName"
                    mnf-label="Customer Name:"></mnf-text>
          <mnf-text mnf-field="RPL_Name"
                    mnf-label="RPL Name:"></mnf-text>
          <mnf-text mnf-field="Customer_WorkCity"
                    mnf-label="Customer Work City:"></mnf-text>
          <mnf-text mnf-field="RPU_Address"
                    mnf-label="RPU Address:"></mnf-text>
          <mnf-text mnf-field="RPU_City"
                    mnf-label="RPU City:"></mnf-text>
          <mnf-text mnf-field="RPU_ZipCode"
                    mnf-label="RPU Zip Code:"></mnf-text>
          <mn-tabs>
            <mn-tab heading="Tab 1">
              tab1
            </mn-tab>
            <mn-tab heading="Handlers">
              <mn-grid owner="ctrl.handlersDrv">
              </mn-grid>
            </mn-tab>
            <mn-tab heading="Products">
              <mn-grid owner="ctrl.productsDrv">
              </mn-grid>
            </mn-tab>
          </mn-tabs>
        </mnf-form>
      </div>
      <div class="control-group spacerT15 block">
        <a class="btn btn-info" ui-sref="base.activities({})">
          Back to grid
        </a>
      </div>
    </div>
  </div>
</div>
