<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" ng-if="!ctrl.fullyLoaded">
      <span class="loader"  style="float: left; margin: 0px 0px 0px 8px;">Loading...</span>
    </div>
    <div class="col-xs-12" ng-if="ctrl.fullyLoaded">
      <div>
        <strong>Order ID:</strong>
        <span>{{ctrl.itemFormView.Order_ID}}</span>
      </div>
      <div>
        <strong>Work Order Number:</strong>
        <span>{{ctrl.itemFormView.WorkOrder_WorkOrderNr}}</span>
      </div>
      <div>
        <strong>Customer Name:</strong>
        <span>{{ctrl.itemFormView.Customer_CustomerName}}</span>
      </div>
      <div>
        <strong>Work Order Number:</strong>
        <span>{{ctrl.itemFormView.Customer_WorkCity}}</span>
      </div>
      <div>
        <strong>Work Order Number:</strong>
        <span>{{ctrl.itemFormView.RPU_Address}}</span>
      </div>
      <div>
        <strong>Work Order Number:</strong>
        <span>{{ctrl.itemFormView.RPU_City}}</span>
      </div>
      <div>
        <strong>Work Order Number:</strong>
        <span>{{ctrl.itemFormView.RPU_ZipCode}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a ng-href="/#/activities">
        <button class="btn" ng-click="ctrl.closeDialog()">Back to grid</button>
      </a>
    </div>
  </div>
</div>
