.container-fluid
  .row
    .col-xs-12
      %h1 processing barcode {{barcode}}
      %h2(ng-if="cellIndex") Fetching orders for cell no. {{cellIndex}}
      %h2(ng-if="cellName") Fetching orders for cell {{cellName}}

