<div class="container-fluid">
  <div class="row" style="margin-bottom: 12px">
    <div class="col-xs-12 mn-content-panel pd-order-actions">
      <button class="btn btn-default" ng-click="ctrl.dashboard()">
        Back to Dashboard
      </button>
      <button class="btn btn-default" ng-click="ctrl.back()">
        Back to Order List
      </button>
      <button class="btn btn-primary" ng-click="ctrl.startProcessingOrder()" ng-if="ctrl.itemForm.status == 'avoinna'">
        Start Processing order
      </button>
      <button class="btn btn-primary" ng-click="ctrl.stopProcessingOrder()" ng-if="ctrl.itemForm.status == 'tuotannossa'">
        Stop Processing order
      </button>
      <button class="btn btn-primary" ng-click="ctrl.startProcessingOrder()" ng-if="ctrl.itemForm.status == 'valmis'">
        Redo The Order
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 mn-content-panel">
      <span class="loader block" ng-if="!ctrl.itemForm" style="margin: 0px 0px 0px 8px;">Loading...</span>
      <div ng-if="ctrl.itemForm" class="container-fluid">
        <mnf-form mnf-doc="ctrl.itemForm">
          <div class="col-xs-12 mn-buttons-group hidden-xs">
            <mnf-edit></mnf-edit>
            <mnf-commit on-commit-success="ctrl.commitSuccess(mnfDoc)"></mnf-commit>
            <mnf-rollback></mnf-rollback>
            <mnf-delete on-delete-success="ctrl.deleteSuccess()"></mnf-delete>
          </div>
          <mnf-select mnf-field="delivery_tag"
                      mnf-label="Delivery tag:"
                      allowed-values="['standard', 'urgent', 'insured', 'fragile',
                                       'flammable', 'tax_free', 'export', 'import',
                                       'secret', 'poison', 'large', 'heavy']"></mnf-select>
          <mnf-select mnf-field="status"
                      mnf-label="Status:"
                      mnf-select-type="single"
                      allowed-values="['avoinna', 'valmis',
                                       'tuotannossa']"></mnf-select>
          <mnf-date mnf-field="actual_delivery_date"
                    mnf-label="Delivered on:"></mnf-date>
          <mnf-date mnf-field="created_at"
                    mnf-label="Created at:"
                    read-only="true"></mnf-date>
          <mnf-reference mnf-label="Creator:"
                         mnf-ref-resource="users"
                         mnf-ref-id="creator_ref"
                         mnf-field="creator_name"
                         mnf-field-source="['name', 'gender']"
                         read-only="true"></mnf-reference>
          <mnf-text mnf-field="order_number"
                    mnf-label="Order number:"></mnf-text>
          <mnf-text mnf-field="total"
                    mnf-label="Total:"
                    read-only="true"></mnf-text>
          <mn-tabs>
            <mn-tab heading="Handlers"
                    mn-content-changed="ctrl.itemForm['_order_handlers_changed']"
                    mn-show-add-item-button="ctrl.itemForm._state !== 'ready'"
                    add-new-item="ctrl.addNewHandler()">
              <mnf-form-grid mnf-crud-shown="ctrl.itemForm._state === 'editing' || ctrl.itemForm._state === 'changed' || ctrl.itemForm._state === 'added'"
                             mnf-subdocumets-grid="true">
                <mn-grid owner="ctrl.handlersDrv">
                  <mnf-delete-grid mnf-doc="item"></mnf-delete-grid>
                </mn-grid>
              </mnf-form-grid>
            </mn-tab>
            <mn-tab heading="Products"
                    mn-content-changed="ctrl.itemForm['_order_items_changed']"
                    mn-show-add-item-button="ctrl.itemForm._state !== 'ready'"
                    add-new-item="ctrl.addNewProduct()">
              <mnf-form-grid mnf-crud-shown="ctrl.itemForm._state === 'editing' || ctrl.itemForm._state === 'changed' || ctrl.itemForm._state === 'added'"
                             mnf-subdocumets-grid="true">
                <mn-grid owner="ctrl.productsDrv">
                  <mnf-delete-grid mnf-doc="item"></mnf-delete-grid>
                </mn-grid>
              </mnf-form-grid>
            </mn-tab>
          </mn-tabs>
        </mnf-form>
      </div>
    </div>
  </div>
</div>
