<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <mn-filter-bar></mn-filter-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <a href="#/orders/new" class="btn btn-primary">New Order</a>
    </div>
    <div class="col-xs-10">
      <button class="btn btn-success" ng-click="ctrl.addNotif('success')">success</button>
      <button class="btn btn-info" ng-click="ctrl.addNotif('info')">info</button>
      <button class="btn btn-warning" ng-click="ctrl.addNotif('warning')">warning</button>
      <button class="btn btn-warning" ng-click="ctrl.addNotif('warning', true)">fully clickable warning</button>
      <button class="btn btn-danger" ng-click="ctrl.addNotif('danger')">danger</button>
      <button class="btn btn-danger" ng-click="ctrl.addNotif('danger', false, ['yes', 'no', 'cancel'])">danger [yes, no, cancel]</button>
      <button class="btn btn-primary" ng-click="ctrl.mnNotify.dismissAll()">clear</button>
    </div>
  </div>
  <div class="mn-grid-layout-row row">
    <div class="col-xs-12" style="position: static;">
      <mnf-form-grid>
        <mn-grid mn-select="multiple"
                 mn-select-type="check"
                 mn-on-select="ctrl.onItemSelect(selectedItems)"
                 mn-popup="ctrl.popup(clickedItem, selectedItems)"
                 mn-grid-fill-height="true"
                 mn-actions-width="140px"
                 mn-fast-preview="row">
          <mnf-preview-grid mnf-doc="item"
                            route="orders"
                            class="hidden-xs"></mnf-preview-grid>
          <mnf-edit-grid mnf-doc="item"
                         class="hidden-xs"></mnf-edit-grid>
          <mnf-commit-grid mnf-doc="item"
                           class="hidden-xs"></mnf-commit-grid>
          <mnf-rollback-grid mnf-doc="item"
                             class="hidden-xs"></mnf-rollback-grid>
          <mnf-delete-grid mnf-doc="item"
                           class="hidden-xs"
                           mn-on-delete="ctrl.loadMnGridItems()"></mnf-delete-grid>
        </mn-grid>
      </mnf-form-grid>
    </div>
  </div>
  <iframe id="print-f" name="print-f" src="" style="display:none;"></iframe>
</div>
