<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 mn-content-panel">
      <span class="loader block" ng-if="!ctrl.itemForm" style="margin: 0px 0px 0px 8px;">Loading...</span>
      <div ng-if="ctrl.itemForm" class="container-fluid">
        <mnf-form mnf-doc="ctrl.itemForm">
          <div class="col-xs-12 mn-buttons-group">
            <mnf-edit></mnf-edit>
            <mnf-commit></mnf-commit>
            <mnf-rollback></mnf-rollback>
            <mnf-delete></mnf-delete>
          </div>
          <mnf-reference mnf-label="Creator:"
                         mnf-ref-resource="users"
                         mnf-ref-id="creator_ref"
                         mnf-field="creator_name"
                         mnf-field-source="['name', 'gender']"></mnf-reference>
          <mnf-text mnf-field="order_number"
                    mnf-label="Order number:"></mnf-text>
          <mnf-text mnf-field="total"
                    mnf-label="Total:"></mnf-text>
          <mn-tabs>
            <mn-tab heading="Tab 1">
              tab1
            </mn-tab>
            <mn-tab heading="Handlers"
                    mn-content-changed="ctrl.itemForm['_order_handlers_changed']">
              <mnf-form-grid mnf-crud-shown="ctrl.itemForm._state === 'editing' || ctrl.itemForm._state === 'changed'"
                             mnf-subdocumets-grid="true">
                <mn-grid owner="ctrl.handlersDrv">
                  <mnf-delete-grid mnf-doc="item"></mnf-delete-grid>
                </mn-grid>
              </mnf-form-grid>
            </mn-tab>
            <mn-tab heading="Products"
                    mn-content-changed="ctrl.itemForm['_order_items_changed']">
              <mnf-form-grid mnf-crud-shown="ctrl.itemForm._state === 'editing' || ctrl.itemForm._state === 'changed'"
                             mnf-subdocumets-grid="true">
                <mn-grid owner="ctrl.productsDrv">
                  <mnf-delete-grid mnf-doc="item"></mnf-delete-grid>
                </mn-grid>
              </mnf-form-grid>
            </mn-tab>
          </mn-tabs>
        </mnf-form>
      </div>
    </div>
  </div>
</div>
<mn-dialog-sorcerer/>
