.container-fluid
  .jumbotron.hidden-sm.hidden-xs
    .row
      .col-md-7
        %h1 Celesta
        %h2 TUOTANNON SEURANTA
      .hidden-xs.hidden-sm.col-md-5
        .panel.panel-warning
          .panel-heading
            %h3.panel-title Bookmarks
          .panel-body
            %ul
              %li(ng-repeat="bookmark in bookmarks")
                %a(href='#/orders') {{bookmark}}
  .row
    .col-xs-12.hidden-md.hidden-lg
      %span.pull-left
        %h1 Celesta
      %span.pull-right
        %h2 TUOTANNON SEURANTA
  .row
    .col-lg-9
      .row
        .col-lg-12(ng-if="!lines")
          %button.btn.btn-lg.btn-warning
            %span.glyphicon.glyphicon-refresh(animate) Loading production lines...
        .col-lg-12(ng-repeat="line in lines")
          .panel.panel-primary
            .panel-heading
              %h3.panel-title
                %span {{line.name}}
                %span.pull-right.glyphicon.glyphicon-edit(ng-click='ctrl.editLine(line)')
            .panel-body
              .row
                .col-md-3.col-sm-6(ng-repeat="cell in line.cells")
                  .panel.panel-default.production-cell
                    .panel-heading.cell-title
                      .pull-left.cell-img(ng-click='showStats(cell.name)')
                      %h3.panel-title
                        %span(ng-click='showStats(cell.name)') {{cell.name}}
                        %span.pull-right.glyphicon.glyphicon-edit(ng-click='ctrl.editCell(line, cell)')
                    .panel-body.production-report(ng-click='showStats(cell.name)')
                      %table.table
                        %tr
                          %th Tilaukset
                          %th Tänään
                          %th Viikko
                        %tr(ng-repeat="row_label in ['kaikki', 'avoinna', 'valmis', 'tuotannossa']")
                          %td {{row_label}}
                          %td {{cell.today[row_label]}}
                          %td {{cell.week[row_label]}}
    .col-lg-3
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Rsources
        .panel-body
          .row
            .col-xs-12.col-sm-6.col-md-4.col-lg-12(ng-repeat="resource in resources")
              .panel.panel-default.production-cell
                .panel-heading.cell-title
                  .pull-left.cell-img
                  %h3.panel-title {{resource}}
                .panel-body.production-report
                  %table.table
                    %tr
                      %th Orders
                      %th Today
                      %th Week
                    %tr
                      %td Total
                      %td 25
                      %td 23
                    %tr
                      %td Open
                      %td 22
                      %td 21
                    %tr
                      %td Completed
                      %td 6
                      %td 1
    
