<div class="row">
  <div class="col-xs-12 btn-toolbar">
    <form class="form-inline">
      <div class="form-group">
        <div isteven-multi-select ng-show="filterBar.owner.documentFilters.length > 1"
             class="primary pull-left"
             input-model="filterBar.owner.documentFilters"
             output-model="filterBar.seletedDocumentFilters"
             button-label="show"
             item-label="name"
             tick-property="selected"
             selection-mode="single"
             helper-elements="">
        </div>
      </div>
      <div class="form-group">
        <label class="pull-left" for="date-from" style="margin-top: 5px;">Delivery date from</label>
        <p class="input-group input-group-sm" style="margin: 0;">
          <input type="text"
                 id="date-from"
                 class="form-control"
                 datepicker-popup="dd.MM.yyyy."
                 ng-model="filterBar.dateFrom"
                 is-open="dialogOpened"
                 close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="dialogOpened = true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <span isteven-multi-select
              class="success"
              translation="filterBar.statusesLabels"
              input-model="filterBar.statuses"
              output-model="filterBar.selectedStatuses"
              button-label="name"
              item-label="name"
              tick-property="selected"
              helper-elements="">
        </span>
      </div>
      <button class="btn btn-primary"
              ng-click="filterBar.changeDocumentFilter()">Change</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 btn-toolbar">
    <div isteven-multi-select ng-show="filterBar.owner.layouts.length > 1"
         class="primary pull-left"
         input-model="filterBar.owner.layouts"
         on-item-click="filterBar.changeLayout(data.name)"
         output-model="filterBar.outputBrowsers"
         button-label="show"
         item-label="name desc"
         tick-property="selected"
         selection-mode="single"
         helper-elements="">
    </div>
    <button type="button"
            class="btn {{filterBar.owner.stateMachine.quickFilterShown ? '' : 'btn-primary'}}"
            ng-click="filterBar.owner.toggleQuickFilter()"
            ng-disabled="!filterBar.owner.fullyLoaded">
      <span class="pull-left">Quick Filter</span>
      <span class="loader pull-left" ng-show="!filterBar.owner.fullyLoaded" style="margin: 0px 0px 0px 8px;"></span>
    </button>
  </div>
</div>
