.row
  .col-xs-12.btn-toolbar
    %form.form-inline
      %mn-filter-selector(seleted-document-filters="filterBar.seletedDocumentFilters")
      .form-group
        %label.pull-left(for="date-from"
                         style="margin-top: 5px;") Delivery date from
        %p.input-group.input-group-sm(style="margin: 0;")
          %input#date-from.form-control(close-text="Close"
                                        datepicker-popup="dd.MM.yyyy."
                                        is-open="dialogOpened"
                                        ng-model="filterBar.dateFrom"
                                        type="text")
          %span.input-group-btn
            %button.btn.btn-default{"ng-click" => "dialogOpened = true", :type => "button"}
              %i.glyphicon.glyphicon-calendar
      .form-group
        %label{:for => "status"} Status
        %span.success{"button-label" => "name", "helper-elements" => "", "input-model" => "filterBar.statuses", "isteven-multi-select" => "", "item-label" => "name", "output-model" => "filterBar.selectedStatuses", "tick-property" => "selected", :translation => "filterBar.statusesLabels"}
      %button.btn.btn-primary{"ng-click" => "filterBar.changeDocumentFilter()"} Change
.row
  .col-xs-12.btn-toolbar
    .primary.pull-left{"button-label" => "show", "helper-elements" => "", "input-model" => "filterBar.owner.layouts", "isteven-multi-select" => "", "item-label" => "name desc", "ng-show" => "filterBar.owner.layouts.length > 1", "on-item-click" => "filterBar.changeLayout(data.name)", "output-model" => "filterBar.outputBrowsers", "selection-mode" => "single", "tick-property" => "selected"}
    %button.btn.:{:class => "{{filterBar.owner.stateMachine.quickFilterShown ? '' 'btn-primary'}}", "ng-click" => "filterBar.owner.toggleQuickFilter()", "ng-disabled" => "!filterBar.owner.fullyLoaded", :type => "button"}
      %span.pull-left Quick Filter
      %span.loader.pull-left{"ng-show" => "!filterBar.owner.fullyLoaded", :style => "margin: 0px 0px 0px 8px;"}
