%mn-navbar
  %mn-navbar-title
  %mn-navbar-right
    %mn-menu
      %span Käyttäjä:
      %strong Identoi
    %mn-menu (Lopeta)
  %mn-navbar-collapsible
    %mn-navbar-collapsible-left
      %mn-menu
        %a{"ui-sref" => "base.start"}
          Aloitus
      %mn-menu-group(mn-text="Toimitukset ja Siirtymät")
        %mn-menu-item Toimitukset
        %mn-menu-item Siirtymät
        %mn-menu-item Routes
      %mn-menu(ng-click="alertMe()") Suunnittelu
      %mn-menu
        %a{"ui-sref" => "base.map"}
          Kartat
      %mn-menu Historia
      %mn-menu-group(mn-text="Resurssit")
        %mn-menu-item Resurssit
        %mn-menu-item Aikataulut
        %mn-menu-item Resurssilinkit
        %mn-menu-item Resurssiryhmät
        %mn-menu-item Tuntiraportit
        %mn-menu-item Tuntikirjanpito
      %mn-menu Asiakkaat
    %mn-navbar-collapsible-right
      %mn-menu-group(mn-text="Admin")
        %mn-menu-item Laataa kuvia
        %mn-menu-item Tehtävätyypit
        %mn-menu-divider
        %mn-menu-header Some options
        %mn-menu-item Asiakaskohteet
        %mn-menu-item Kohteet
        %mn-menu-item Hintaryhmät
        %mn-menu-divider
        %mn-menu-header Final admin options
        %mn-menu-item Raportit
        %mn-menu-item Route Planning
%mn-alerts
