<mn-navbar>
  <mn-navbar-title></mn-navbar-title>
  <mn-navbar-right>
    <mn-menu-item>
      <span>Käyttäjä:</span>
      <strong>Identoi</strong>
    </mn-menu-item>
    <mn-menu-item>(Lopeta)</mn-menu-item>
  </mn-navbar-right>
  <mn-navbar-collapsible>
    <mn-navbar-collapsible-left>
      <mn-menu-item>
        <mn-menu-item-route sref="base.start">Aloitus</mn-menu-item-route>
      </mn-menu-item>
      <mn-menu-group mn-text="Toimitukset ja Siirtymät">
        <mn-menu-group-item> Toimitukset</mn-menu-group-item>
        <mn-menu-group-item> Siirtymät</mn-menu-group-item>
        <mn-menu-group-item> Routes</mn-menu-group-item>
      </mn-menu-group>
      <mn-menu-item>Suunnittelu</mn-menu-item>
      <mn-menu-item>
        <mn-menu-item-route sref="base.map">Kartat</mn-menu-item-route>
      </mn-menu-item>
      <mn-menu-item>Historia</mn-menu-item>
      <mn-menu-group mn-text="Resurssit">
        <mn-menu-group-item> Resurssit</mn-menu-group-item>
        <mn-menu-group-item> Aikataulut</mn-menu-group-item>
        <mn-menu-group-item> Resurssilinkit</mn-menu-group-item>
        <mn-menu-group-item> Resurssiryhmät</mn-menu-group-item>
        <mn-menu-group-item> Tuntiraportit</mn-menu-group-item>
        <mn-menu-group-item> Tuntikirjanpito</mn-menu-group-item>
      </mn-menu-group>
      <mn-menu-item>Asiakkaat</mn-menu-item>
    </mn-navbar-collapsible-left>
    <mn-navbar-collapsible-right>
      <mn-menu-group mn-text="Admin">
        <mn-menu-group-item> Laataa kuvia</mn-menu-group-item>
        <mn-menu-group-item> Tehtävätyypit</mn-menu-group-item>
        <mn-menu-divider></mn-menu-divider>
        <mn-menu-header>Some options</mn-menu-header>
        <mn-menu-group-item> Asiakaskohteet</mn-menu-group-item>
        <mn-menu-group-item> Kohteet</mn-menu-group-item>
        <mn-menu-group-item> Hintaryhmät</mn-menu-group-item>
        <mn-menu-divider></mn-menu-divider>
        <mn-menu-header>Final admin options</mn-menu-header>
        <mn-menu-group-item> Raportit</mn-menu-group-item>
        <mn-menu-group-item> Route Planning</mn-menu-group-item>
      </mn-menu-group>
    </mn-navbar-collapsible-right>
  </mn-navbar-collapsible>
</mn-navbar>
<mn-alerts></mn-alerts>
