<div class="mn-grid">
  <table class="table table-striped" style="table-layout:fixed;">
    <thead>
      <tr class="mn-grid-header">
        <th ng-show="grid.showSelectColumn"
            class="grid-header-container"
            style="width: 30px;">
          <input type="checkbox" class="mn-grid-select-box"
                 ng-model="grid.onlySelectedItemsShown">
        </th>
        <th ng-repeat="field in grid.owner.fields"
            ng-class="{'mn-sortable': grid.owner.fullyLoaded && !grid.onlySelectedItemsShown}"
            ng-click="grid.orderBy(field)"
            class="grid-header-container"
            ng-style="{width: (field.width) + 'px'}">
            <div class="mnf-grid-field-ready">
              <span class="grid-header-field-name">
                {{field.header}}
              </span>
            </div>
          <span ng-show="grid.owner.stateMachine.column === field.name && grid.owner.fullyLoaded && !grid.onlySelectedItemsShown"
                ng-class="grid.owner.stateMachine.direction === 'desc' ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"
                class="glyphicon"></span>
        </th>
        <th class="grid-header-container"></th>
      </tr>
      <tr>
        <th ng-show="grid.showSelectColumn" class="qf-row">
          <div animate class="filterRowAnimWrap" ng-show="grid.owner.stateMachine.quickFilterShown && grid.owner.fullyLoaded">
          </div>
        </th>
        <th ng-repeat="field in grid.owner.fields"
            class="qf-row"
            ng-class="{'disabled' : grid.onlySelectedItemsShown}"
            ng-style="{width: field.width + 'px'}">
          <div animate class="filterRowAnimWrap" ng-show="grid.owner.stateMachine.quickFilterShown && grid.owner.fullyLoaded">
            <div class="filterFieldBgWrap" ng-if="field.quickfilter === 'text' || field.quickfilter === 'date-range'">
              <mn-qf-text
                    qf-disabled="grid.onlySelectedItemsShown"
                    ng-if="field.quickfilter === 'text'"
                    model="grid.owner.stateMachine.filters[field.name]"
                    qf-changed="grid.filterBy(fieldName)"
                    field="field"></mn-qf-text>
              <mn-qf-date-range
                    qf-disabled="grid.onlySelectedItemsShown"
                    ng-if="field.quickfilter === 'date-range'"
                    model="grid.owner.stateMachine.filters[field.name]"
                    qf-changed="grid.filterBy(fieldName)"
                    field="field"></mn-qf-date-range>
            </div>
            <mn-qf-select
                  qf-disabled="grid.onlySelectedItemsShown"
                  ng-if="field.quickfilter === 'select'"
                  model="grid.owner.stateMachine.filters[field.name]"
                  qf-changed="grid.filterBy(fieldName)"
                  field="field"></mn-qf-select>
          </div>
        </th>
        <th class="qf-row">
          <div animate class="filterRowAnimWrap" ng-show="grid.owner.stateMachine.quickFilterShown && grid.owner.fullyLoaded">
          </div>
        </th>
      </tr>
    </thead>
    <tbody ng-if="!grid.onlySelectedItemsShown">
      <tr ng-show="grid.owner.items.length === 0">
        <td class="mn-content-footer-status-msg" colspan="100%">
          No items to show
        </td>
      </tr>
      <tr class="mn-grid-data-row"
          ng-repeat="item in grid.owner.items"
          mn-right-click="grid.rightClick(item, $event)"
          ng-class="{'last-selected': grid.isLastSelected(item)}"
          ng-hide="item._state === 'deleted'">
        <td ng-show="grid.showSelectColumn">
          <input type="checkbox" class="mn-grid-select-box"
                 ng-checked="grid.isItemSelected(item)"
                 ng-click="grid.selectionChanged(item, $event)">
        </td>
        <td ng-repeat="field in grid.owner.fields" style="overflow: hidden;">
          <mnf-text-grid ng-if="field.view === 'text'"
                         read-only="field.readOnly"
                         mnf-field="{{field.name}}"
                         mnf-doc="item"></mnf-text-grid>
          <mnf-reference-grid ng-if="field.view === 'reference'"
                              read-only="field.readOnly"
                              mnf-ref-resource="{{field.refResource}}"
                              mnf-ref-id="{{field.refId}}"
                              mnf-field="{{field.name}}"
                              mnf-doc="item"
                              mnf-field-source="field.refFieldSource"></mnf-reference-grid>
        </td>
        <td>
          <mn-grid-actions></mn-grid-actions>
        <td>
      </tr>
    </tbody>
    <tbody ng-if="grid.onlySelectedItemsShown">
      <tr ng-show="grid.selectedItems.length === 0">
        <td class="mn-content-footer-status-msg" colspan="100%">
          No items to show
        </td>
      </tr>
      <tr class="mn-grid-data-row"
          ng-repeat="item in grid.selectedItems"
          mn-right-click="grid.rightClick(item, $event)">
        <td ng-show="grid.showSelectColumn">
          <input type="checkbox"
                 class="mn-grid-select-box"
                 ng-checked="grid.isItemSelected(item)"
                 ng-click="grid.selectionChanged(item)">
        </td>
        <td ng-repeat="field in grid.owner.fields" style="overflow: auto;">
          <mnf-text-grid mnf-field="{{field.name}}" mnf-doc="item">
          </mnf-text-grid>
        </td>
        <td>
          <mn-grid-actions></mn-grid-actions>
        <td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row mn-pager-row" >
  <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
    <mn-grid-pager owner="grid.owner" ng-hide="grid.onlySelectedItemsShown">
    </mn-grid-pager>
  </div>
  <div class="hidden-xs col-sm-5 col-md-6 col-lg-7 mn-content-footer-status-msg">
    <span ng-show="grid.selectedItems.length > 0">
      <span class="text-success" title="{{grid.selectedItems.length}} selected">{{grid.selectedItems.length}} <span class="glyphicon glyphicon-check"></span></span> /
    </span>
    <span ng-if="grid.owner.totalQfCount < grid.owner.service.totalCount">
      <span class="mn-content-footer-status-msg-invert" title="{{grid.owner.totalQfCount}} quick filtered"> {{grid.owner.totalQfCount}} <i class="glyphicon glyphicon-filter grid-footer-bar-filter-icon"></i> </span> /
    </span>
    <span ng-if="grid.owner.service.totalCount">
      <span ng-if="grid.owner.service.buffer.length < grid.owner.service.totalCount">
        <span class="mn-content-footer-status-msg-invert">{{grid.owner.service.buffer.length}}</span> /
      </span> {{grid.owner.service.totalCount}}
    </span>
    <span ng-if="!grid.owner.service.totalCount">
       {{grid.owner.items.length}}
    </span>
    <span ng-if="!(grid.selectedItems.length > 0)">
      loaded {{isObject(grid.owner.service.totalCount)}}
    </span>
    <span ng-if="grid.selectedItems.length > 0"
          class="fa fa-list"
          title="{{grid.owner.service.totalCount}} loaded"></span>
  </div>
</div>
<!-- <div>
  <a ng-show="grid.selectedItems.length > 0" ng-click="grid.unselectAll()">unselect all</a>
</div> -->
<div class="btn-group-vertical mn-context-menu"
     role="group"
     ng-show="grid.contextMenuVisible"
     ng-style="grid.menuPosition">
  <button ng-repeat="item in grid.contextMenuItems" ng-click="grid.contextMenuAction(item)" type="button" class="btn btn-default">{{item.text}}</button>
</div>
<div class="mn-context-menu-cover" ng-click="grid.contextMenuVisible=false" ng-if="grid.contextMenuVisible"></div>
