<div class="row">
  <div class="col-sm-1.1 col-xs-1">
    <div class="page-menu form-inline">
      <div isteven-multi-select
            class="inline-multi-select"
            input-model="filterBar.layouts"
            on-item-click="filterBar.layoutChanged({ layout: data.name })"
            output-model="filterBar.outputBrowsers"
            button-label="show"
            item-label="name desc"
            tick-property="selected"
            selection-mode="single"
            helper-elements=""
            style="width: 132px;">
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-xs-1">
    <div class="page-menu form-inline">
      <button type="button"
              class="btn filter-bar-button"
              ng-model="filterBar.quickFilterShown"
              ng-click="filterBar.quickFilterToggled({ opened: !filterBar.quickFilterShown })"
              btn-checkbox
              btn-checkbox-true="true"
              btn-checkbox-false="false"
              ng-disabled="!filterBar.serviceDataLoaded">
        Quick Filter
        <div class="loader" ng-show="!filterBar.serviceDataLoaded">Loading...</div>
      </button>
    </div>
  </div>
  <div class="col-sm-5 col-xs-5">
    <div class="alert alert-warning"
         role="alert"
         ng-show="!filterBar.serviceDataLoaded && filterBar.clientViewLoadingNotification">
      <strong>Warning!</strong> You will be shown filtered and sorted data when
      fully loaded or you can clear requested fiter and sort parameters
      <button ng-click="filterBar.clearClientSortAndFilter()">here</button>
    </div>
  </div>
</div>
