<div class="row">
  <div class="col-sm-10 col-xs-9">
    <div class="page-menu form-inline">
      <span isteven-multi-select
            class="inline-multi-select"
            input-model="filterBar.layouts"
            on-item-click="filterBar.layoutChanged({ layout: data.name })"
            output-model="filterBar.outputBrowsers"
            button-label="show"
            item-label="name desc"
            tick-property="selected"
            selection-mode="single"
            helper-elements="">
      </span>
      <button type="button"
              class="btn filter-bar-button"
              ng-model="filterBar.quickFilterShown"
              ng-click="filterBar.quickFilterToggled({ opened: !filterBar.quickFilterShown })"
              btn-checkbox
              btn-checkbox-true="true"
              btn-checkbox-false="false"
              ng-disabled="!filterBar.serviceDataLoaded">
        Quick Filter
      </button>
    </div>
  </div>
</div>
