{{buttonCaption}}
<script type="text/ng-template" id="mnPopoverTpl.html">
  <div class="notifications-holder">
    <div ng-if="bufferLength === 0">
      No messages
    </div>
    <alert template-url="mnAlert.html"
           ng-click="notif.fullClick()"
           style="{{notif.fullyClickable ? 'pointer' : 'cursor: default'}}"
           ng-repeat="notif in mnNotify.get() | reverse"
           type="{{notif.type}}">
      <div class="alert alert-{{notif.type}} popover-stay-opened" role="alert">
        <button class="close"
                ng-if="notif.dismissable"
                ng-click="notif.dismiss('close button');">
          <span class="popover-stay-opened" aria-hidden="true">×</span>
        </button>
        <strong class="popover-stay-opened">{{notif.message}}</strong>
        <div class="popover-stay-opened">
          {{notif.details}}
        </div>
        <div class="btn-group"
             role="group"
             ng-if="notif.actions.length > 0">
          <button class="btn btn-default popover-stay-opened"
                  ng-repeat="action in notif.actions"
                  ng-click="notif.dismiss(action)">{{action}}</button>
        </div>
      </div>
    </alert>
  </div>
</script>
<script type="text/ng-template" id="mnAlert.html">
  <div class="popover-stay-opened" ng-transclude></div>
</script>
