notifications ({{mnNotify.get().length}})
<script type="text/ng-template" id="mnPopoverTpl.html">
  <alert template-url="mnAlert.html"
         ng-repeat="notif in mnNotify.get() | reverse"
         type="{{notif.type}}">
    <div class="alert alert-{{notif.type}} popoverStayOpened" role="alert">
      <button class="close"
              ng-click="clearNotif(notif, $event)">
        <span class="popoverStayOpened" aria-hidden="true">×</span>
      </button>
      <strong class="popoverStayOpened">{{notif.message}}</strong>
      <div class="popoverStayOpened">
        {{notif.details}}
      </div>
    </div>
  </alert>
</script>
<script type="text/ng-template" id="mnAlert.html">
  <div class="popoverStayOpened" ng-transclude></div>
</script>
