<div ng-if="mnfDoc._state === 'ready' || mnfDoc._state === 'deleting'"
     class="mnf-grid-field-ready">
  <span>
    {{mnfDoc['_' + mnfField + '_formatted']}}
  </span>
</div>
<div ng-if="mnfDoc._state === 'editing' || mnfDoc._state === 'changed' || mnfDoc._state === 'committing'"
     ng-click="openRefDialog()"
     ng-disabled="mnfDoc._state === 'committing'"
     ng-class="{'changed': mnfDoc['_' + mnfField + '_changed']}"
     class="mnf-grid-ref-field-editing">

      <div class="mnf-grid-field-editing-text">
        <div>
          {{mnfDoc._edit[mnfField]}}
        </div>
      </div>
      <div class="mnf-grid-field-editing-button-wrap">
        <span class="glyphicon glyphicon-folder-open"></span>
      </div>

</div>
