.form-group
  %label {{filterBarMultiSelector.label}}
  %span(button-label="name"
        helper-elements=""
        input-model="filterBarMultiSelector.selectValues"
        isteven-multi-select=""
        item-label="name"
        output-model="filterBarMultiSelector.selectedStatus"
        tick-property="selected"
        translation="filterBarMultiSelector.selectValuesLabels")
