.form-group
  %label{:for => "status"} Status
  %span.success{"button-label" => "name", "helper-elements" => "", "input-model" => "filterBarMultiSelector.statuses", "isteven-multi-select" => "", "item-label" => "name", "output-model" => "filterBarMultiSelector.selectedStatuses", "tick-property" => "selected", :translation => "filterBarMultiSelector.statusesLabels"}
