<div ng-if="mnfDoc._state === 'ready' || mnfDoc._state === 'deleting'"
     class="form-group form-group-sm mn-form-group">
  <label class="col-sm-4 control-label" for="formGroupInputLarge">{{mnfLabel}}</label>
  <div class="col-sm-8 state-ready-field-value">
    <span>{{moment(mnfDoc[mnfField]).format('DD.MM.YYYY.')}}</span>
  </div>
</div>
<div ng-if="mnfDoc._state === 'editing' || mnfDoc._state === 'changed' || mnfDoc._state === 'committing'"
     class="form-group form-group-sm mn-form-group">
  <label class="col-sm-4 control-label" for="{{mnfField}}">{{mnfLabel}}</label>
  <div class="col-sm-8">
    <p class="input-group input-group-sm">
      <!-- <input type="date"
             class="form-control"
             datepicker-popup
             ng-model="mnfDoc._edit[mnfField]"
             ng-change="textChanged()" /> -->
     <!-- <input type="text"
            date-range-picker
            options="{singleDatePicker: true}"
            class="form-control date-picker"
            ng-model="{startDate: mnfDoc._edit[mnfField]}" /> -->
      <input type="text"
             class="form-control"
             datepicker-popup="dd.MM.yyyy."
             ng-model="mnfDoc._edit[mnfField]"
             ng-change="textChanged()"
             is-open="dialogOpened"
             close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="dialogOpened = true">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
</div>
