%span
  %strong(ng-if="!page_count") Loading data, please wait
%nav.pointer(ng-if="page_count")
  %ul.pointer.pagination.pagination-sm(style="margin: 0px 30px;")
    %li.pointer(ng-class="{disabled: is_first_page()}")
      %a(ng-click="goToPage(prevPage)" aria-label="Previous" ng-disabled="is_first_page()")
        %span(aria-hidden="true") &laquo;
    %li.pointer(ng-repeat="page_number in pagination_array()" ng-class="{active: page_number == pageNo}")
      %a(ng-click="goToPage(page_number)") {{showPageNumber(page_number, $index)}}
    %li.pointer(ng-class="{disabled: is_last_page()}")
      %a(ng-click="goToPage(nextPage)" aria-label="Next")
        %span(aria-hidden="true") &raquo;
.clear
