.row
  .col-sm-2.col-xs-3
    .page-menu(style="padding: 1px 6px;")
      =image_tag "refresh.png"
      %span(style="color: #006699;font-size: Medium;font-weight: bold;text-decoration: none; padding-top: 6px;") Siirtymät
  .col-sm-10.col-xs-9
    .page-menu.form-inline
      %span.inline-multi-select(multi-select input-model="listLayouts" helper-elements="" button-label="show" item-label="name desc" tick-property="selected" default-label="Select layout" selection-mode="single" on-item-click="showLayout(data.name)")
      %span.inline-multi-select(multi-select input-model="listFitlers" helper-elements="all none reset filter" button-label="show" item-label="name desc" tick-property="selected" default-label="Select filter" selection-mode="single")
      .form-group.hidden-md.hidden-sm.hidden-xs
      %span#select_sort.inline-multi-select(multi-select input-model="listSorting" helper-elements="" button-label="show" item-label="name desc" tick-property="selected" default-label="Select sorting" selection-mode="single" on-item-click="sort_by(data.name)")
      .form-group.hidden-md.hidden-sm.hidden-xs
        .input-group
          .input-group-addon Boom
          %input#exampleInputAmount.form-control{:placeholder => "So huge!", :type => "text"}/
      %button.btn.btn-info.hidden-sm.hidden-xs(type="submit" style="float: right;") Apuva!
