.container(ng-controller="HomeController")
  %nav.navbar.navbar-static-top.navbar-inverse(role="navigation")
    .container-fluid
      .navbar-header.pull-left
        %a.navbar-brand(href="#")
          =image_tag "logo.png", height: '20'
          Celesta II
  #main
    .row
      .col-sm-12
        %h1 here is something new