/*
*= require_self
*/

$grid-float-breakpoint: 750px;
$jumbotron-padding: 10px;


$screen-sm-min: 650px;
$screen-md-min: 1100px;
$screen-lg-min: 1500px;

@import "mohican/mohican";

.menu-bar-trigger-1 {
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 8px;
  span {
    font-size: 32px;
    margin-right: 64px;
  }
}

.menu-bar-trigger-2 {
  @media (max-width: $grid-float-breakpoint-max) {
    display: none;
  }
  span {
    font-size: 32px;
    margin-right: 12px;
    margin-top: 8px;
    margin-left: 16px;
  }
}

// Following line is a fix to Bootstrap, which is likely to be included in the nxt release
.container-fluid .jumbotron {
  border-radius: 6px;
}

.pd-order-actions {
  button {
    margin-right: 12px;
    margin-bottom: 16px;
    @media (max-width: $screen-xs-max) {
      display: block;
      clear: both;
    }
  }
}

.production-cell {
  .cell-title {
    position: relative;
    
    .cell-img {
      padding-left: 35px;
      width: 34px;
      height: 35px;
      &:before {
        content: '';
        position: absolute;
        width: 34px;
        height: 35px;
        background-image: url(../production-140.png);
        background-attachment: absolute;
        background-position: right -35px bottom 35px;
        top: 2px;
        left: 6px;
      }
    }
    %h3 {
      
    }
  }
  .table {
    margin-bottom: 0px;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: 0px;
        }
      }
    }
  }
}
