/*
*= require_self
*/

$grid-float-breakpoint: 1280px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "mohican";
@import "rails_bootstrap_forms";
@import "includes/**/*";

#search_control, #second_page_title {
  margin-top: 30px;
}

.search_input {
  position: relative;
}

.search_input > .glyphicon {
  position: absolute;
  right: 0;
  padding: 8px 14px;
}

.inline-multi-select {
  display: inline;
  float: left;
  clear: none;
  margin-right: 6px;
  margin-bottom: 2px;
}
.multiSelect .button { 
  width: 180px;
}

#select_sort .button { 
  width: 240px;
}
