<div class="row pager-row" ng-class="{hidden: !gridPager.pageCount}">
  <div class="col-lg-12">
    <nav class="pointer">
      <ul class="pointer pagination pagination-sm"
          style="margin: 0px 30px;"
          ng-class="{'client-pager': gridPager.clientViewPagerStyle}">
        <li class="pointer" ng-class='{disabled: gridPager.currentPage === 1}'>
          <a ng-click="gridPager._changePage(gridPager.prevPage())"
             ng-disabled="gridPager.currentPage === 1"
             aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li>
          <a ng-click="gridPager._changePage(1)"
             ng-class="{hidden: !gridPager.showLinkFirst()}"
             aria-label="First">1</a>
        </li>
        <li class="pointer" ng-repeat="pageNumber in gridPager.paginationArray()" ng-class="{active: pageNumber == gridPager.currentPage}">
          <a ng-click="gridPager._changePage(pageNumber)">{{gridPager.showPageNumber(pageNumber, $index)}}</a>
        </li>
        <li>
          <a ng-click="gridPager._changePage(gridPager.pageCount)"
             ng-class="{hidden: !gridPager.showLinkLast()}"
             aria-label="Last">{{gridPager.pageCount}}</a>
        </li>
        <li class="pointer" ng-class="{disabled: gridPager.currentPage === gridPager.pageCount, hidden: !gridPager.pageCount}">
          <a ng-click="gridPager._changePage(gridPager.nextPage())"
             ng-disabled="gridPager.currentPage === gridPager.pageCount"
             aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
